body {
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.tater-image {
  -webkit-user-drag: none !important;
  touch-action: manipulation !important;
}
